{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur M@ musique !</h1>
        <p class="lead">
            M@ musique est un site permettant de gérer facilement votre collection de d'albums musicaux,
            Les informations sur vos albums et artistes préférés peuvent être enregistrés.
            Les données de l'album de votre choix (titre de l'album, artiste, genre, liste des titres de chansons, image de la jaquette) sont enregistrées dans votre liste.
        </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
